doctype 5
html(lang="en")
    head
        title hack'13
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        script(src="/socket.io/socket.io.js")
        script(src="/scripts/jquery-1.9.0.min.js")
        script(src="/scripts/socket.client.js")

    body
        div.container
            h1 Mobile-RockBand