doctype 5
html(lang="en")
    head
        title hack'13
        script(src='/jquery-1.9.0.min.js')
        script(src='/socket.io/socket.io.js')
    body
        div(id="body")
            block content