doctype 5
html(lang="en")
  head
    title hack'13

    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/default.css", rel="stylesheet")

    script(src="/socket.io/socket.io.js")
    script(src="/scripts/jquery-1.8.2.min.js")
    script(src="/scripts/jquery.equalizer.js")
    script(src="/scripts/jquery.timeline.js")
    script(src="/scripts/status-images.js")
    script(src="/scripts/socket.client.js")

    body
      .body
        header
          h1 Mobile RockBand!

        .statuses
          .status-picture.pi(data-maxvalue=3)
            .p0
          .status-picture.gu(data-maxvalue=3)
            .p0
          .status-picture.dr(data-maxvalue=3)
            .p0
        .row
          .equalizer.pi
          .equalizer.gu
          .equalizer.dr

        .debug

      footer
        .timeline.pi
        .timeline.gu
        .timeline.dr
        .timestory
