doctype 5
html
    head
    title drum

    meta(name="viewport", content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="format-detection", content="telephone=no")
    link(rel='stylesheet', type='text/css', href='/css/instruments.css')

    script(src="/socket.io/socket.io.js")
    script(src='/scripts/jquery-1.8.2.min.js')
    script(src='/scripts/jquery.mobile.min.js')
    script(src='/scripts/instruments.js')


body.drum(data-instrument='dr')
  #contttt
    .button.instrument#crash
    #end-crash-wrapper
      .button.instrument#end-crash
    .button.instrument#kick
    #snare-hit-wrapper
      .button.instrument#snare-hit
    .button.instrument#high-hat
