doctype 5
html
	head
	title
		piano
	script(type='text/javascript', src='scripts/jquery-1.5.min.js')
	link(rel='stylesheet', type='text/css', href='styles/main.css')
	meta(name='viewport', content='width=960,user-scalable=true,initial-scale=1.0')

body.piano
	.top-line		
		.first-octave
			.button
			.button
		.second-octave
			.button
			.button
			.button
	.bottom-line
		.button
		.button
		.button
		.button
		.button
		.button
		.button

	
